.idea
Application Architecture +JPA+ Native Hibernate/test/**

Application Architecture +JPA+ Native Hibernate/Application Architecture +JPA+ Native Hibernate.IML
Application Architecture +JPA+ Native Hibernate.error.log
out/**
error.log

